@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="display-4" style="color: red;">Qual a última vez que você<br />  doou sangue?</h1>
    <p style="text-align: center;">
        O intervalo para homens doarem sangue é de 60 dias (2 meses), e para mulheres esse intervalo aumenta para 90 dias (3 meses). <br />
        Sendo assim, um homem  pode doar até 4 vezes por ano e uma mulher até 3 vezes.
    </p>
    <h2 style="color: red; margin-top: 3%; margin-bottom: 1%;">Já passou o seu intervalo ou nunca doou? <br /> Agende já a sua doação!</h2>
    <button style="background-color: red; color: white; padding: 10px 5px; border: none; border-radius: 5px; margin-top: 2%">Agende sua Doação aqui</button>
    <img style="margin-top: 3%; width: 40%;" src="https://img.freepik.com/premium-vector/blood-donation-illustration-with-hand_580446-56.jpg?w=2000" />
    <div class="card1" style="border: 2px solid blackl" >
        <h1 style="color: red; margin-top: 3%; ">Informações Sobre a Doação</h1>
        <h2 style="margin-top: 3%; color: black; font-weight: bold; margin-bottom: 1%;">Requisitos para Doar</h2>
        <p>Ter uma idade entre 16 e 69 anos, 11 meses e 29 dias.</p>
        <p>A primeira doação do paciente só pode ser feita até os 60 anos, 11 meses e 29 dias.</p>
        <p>Doadores de 16 e 17 anos precisam de autorização dos pais.</p>
        <p>O paciente tem que ter um peso mínimo de 50 kg.</p>
        <p>Não estar em jejum, refeições leves são recommendations.</p>
        <p>Aumentar a ingestão de líquidos no dia da doação.</p>
        <p>Não consumir álcool 12 horas antes.</p>
        <p>Evitar trazer crianças menores de 12 anos. Se necessário, trazer um acompanhante maior de idade.</p>
    </div>
</div>
